:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 10px;

    .colors {
        display: flex;
        flex-direction: row;
        gap: 4px;

        .item {            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid gray;  
                        

            &:nth-child(1) {
                background: var(--color);
            }
            &:nth-child(2) {
                background: hsl(from var(--color) h s calc(l + 20));
            }
            &:nth-child(3) {
                background: hsl(from var(--color) h s calc(l - 20 ));
            }
            &:nth-child(4) {
                background: rgb(from var(--color) 255 g b );
            }
            &:nth-child(5) {
                background: rgb(from var(--color) 0 g b);
            }
        }
    }


.colors-lch {
        display: flex;
        flex-direction: row;
        gap: 4px;

        .item {            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid gray;  
                        

            &:nth-child(1) {
                background: var(--color);
            }
            &:nth-child(2) {
                background: oklch(from var(--color) calc(l * 1.4) c h);
            }
            &:nth-child(3) {
                background: oklch(from var(--color) calc(l * 0.6) c h);
            }
            &:nth-child(4) {
                background: rgb(from var(--color) calc(255 - r) calc(255 - g) b );
            }
            &:nth-child(5) {
                background: oklch(from var(--color) l c h);
            }
        }
    }    

.colors-clamp {
        display: flex;
        flex-direction: row;
        gap: 4px;

        .item {            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid gray;  
                        

            &:nth-child(1) {
                background: var(--color);
            }
            &:nth-child(2) {
                background: hsl(from var(--color) h max(s, 30) min(l, 60));
            }
            &:nth-child(3) {
                background: hsl(from var(--color) h max(s,30) clamp(40, l, 60));
            }
            &:nth-child(4) {
                background: oklch(from var(--color) clamp(0.1, l, 0.7) c h );
            }
            &:nth-child(5) {
                background: rgb(from var(--color) 0 g b);
            }
        }
    }     
}