:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgray;
    padding: 10px;

    .colors {
        display: flex;
        flex-direction: row;
        gap: 4px;

        .item {            
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            border: 1px solid gray;  
                        

            &:nth-child(1) {
                background: var(--color);
            }
            &:nth-child(2) {
                background: hsl(from var(--color) h s calc(l + 20));
            }
            &:nth-child(3) {
                background: hsl(from var(--color) h s calc(l - 20 ));
            }
            &:nth-child(4) {
                background: rgb(from var(--color) 255 g b );
            }
            &:nth-child(5) {
                background: rgb(from var(--color) 0 g b);
            }
        }
    }
}