<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Skills and Activities</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon svgIcon="hearts"/>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<h1>
  These are the available skills
</h1>
<div class="btw">
  You can add skills to your profile and search for activities that match your skills.
</div>

<div class="cards">
  @for(activity of activities; track $index) {

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="example-header-image" svgIcon="trophy"/>
        <mat-card-title>{{activity.title}}</mat-card-title>
        <mat-card-subtitle>{{activity.location}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="`images/${activity.image}`">
      <mat-card-content>
        <p>
          {{activity.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button color="accent" mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button [matBadge]="activity.members">EXPLORE</button>
      </mat-card-actions>
    </mat-card>
  
  }

  
</div>

