



/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --p-10: oklch(95% 0.02 250);
  --p-20: oklch(87% 0.06 250);
  --p-30: oklch(80% 0.1 250);
  --p-40: oklch(76% 0.13 250);
  --p-50: oklch(62% 0.22 250);
  --p-60: oklch(51% 0.15 250);
  --p-70: oklch(42% 0.15 250);
  --p-80: oklch(22% 0.05 250);
  --p-90: oklch(17% 0.03 250);
  }


.pal-1 {
--p-10: oklch(95% 0.02   144.41);
  --p-20: oklch(87% 0.06 144.41);
  --p-30: oklch(80% 0.1  144.41);
  --p-40: oklch(76% 0.13 144.41);
  --p-50: oklch(62% 0.22 144.41);
  --p-60: oklch(51% 0.15 144.41);
  --p-70: oklch(42% 0.15 144.41);
  --p-80: oklch(22% 0.05 144.41);
  --p-90: oklch(17% 0.03 144.41);
  }

.pal-2 {
  --p-10: oklch(95% 0.02 320);
  --p-20: oklch(87% 0.06 320);
  --p-30: oklch(80% 0.1  320);
  --p-40: oklch(76% 0.13 320);
  --p-50: oklch(62% 0.22 320);
  --p-60: oklch(51% 0.15 320);
  --p-70: oklch(42% 0.15 320);
  --p-80: oklch(22% 0.05 320);
  --p-90: oklch(17% 0.03 320);  }

  .pal-3 {
  --p-10: oklch(95% 0.02 34);
  --p-20: oklch(87% 0.06 34);
  --p-30: oklch(80% 0.1  34);
  --p-40: oklch(76% 0.13 34);
  --p-50: oklch(62% 0.22 34);
  --p-60: oklch(51% 0.15 34);
  --p-70: oklch(42% 0.15 34);
  --p-80: oklch(22% 0.05 34);
  --p-90: oklch(17% 0.03 34);

  }
