.text2-small {
  font-size: 12px;
}

.text2-medium {
  font-size: 16px;
}

.text2-large {
  font-size: 24px;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 18px;
}

.text-large {
  font-size: 24px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.m-4px {
  margin: 4px;
}

.p-4px {
  padding: 4px;
}

.m-8px {
  margin: 8px;
}

.p-8px {
  padding: 8px;
}

.m-16px {
  margin: 16px;
}

.p-16px {
  padding: 16px;
}

.textred {
  color: red;
}

.textgreen {
  color: green;
}

.textblue {
  color: blue;
}

.textpurple {
  color: purple;
}

.textyellow {
  color: yellow;
}

.button {
  padding: 10px 20px;
  background-color: navy;
  color: white;
}

:root {
  --color-primary: #6200ee;
  --color-secondary: #03dac6;
  --color-danger: red;
}

div.root {
  --primary-color: rgb(0, 204.4, 0);
  background-color: color-mix(in srgb, var(--primary-color), white 20%);
}

h1 {
  color: green;
  border-bottom: 1px solid lime;
}

.test {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

section.shopping-list h3 {
  color: navy;
}
section.shopping-list ul {
  border: 1px solid gray;
}
section.shopping-list ul > li {
  color: #c0158d;
}
section.shopping-list ul > li:hover {
  background-color: yellow;
}
