@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;

    @include mat.theme-overrides((
        primary: pink,
        on-primary-container: darken(pink, 25%)
    ));


    mat-toolbar {
        .example-spacer {
            flex: 1 1 auto;
        }
    }

    h1 {
        color: var(--mat-sys-primary);
        font: var(--mat-sys-headline-medium);
        margin: 0 1rem;
        
    }

    .btw {
        background: var(--mat-sys-primary-container);
        font: var(--mat-sys-body-medium);
        border: 1px solid var(--mat-sys-on-primary-container);
        color: var(--mat-sys-on-primary-container);
        margin: 0.5rem;
        padding: 0 0.5rem;

    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        gap: 2rem;


        @include  mat.card-overrides((
            subtitle-text-color: var(--mat-sys-tertiary),
            elevated-container-color: var(--mat-sys-primary-fixed)

        ));



        mat-card {
            width: 300px;
            
            mat-card-title {
                color:purple;
            }

            mat-icon[mat-card-avatar] { 
                // --mat-icon-color: var(--mat-sys-primary);
                @include mat.icon-overrides((
                    color: var(--mat-sys-tertiary),
                ))
            }
            
            
            img[mat-card-image] {
                height: 240px;
                object-fit: cover;
            }

            p {
                margin: 1rem 0;
                color: var(--mat-sys-on-primary-fixed);
            }
        }
    }
}