@use 'sass:color';
@use 'sass:map';
@use 'sass:list';
@use 'buttons';



$font-sizes:('small': 12px, 'medium': 16px, 'large': 24px);


$medium-size: map.get($font-sizes, 'medium');
@debug $medium-size;
$modified-sizes: map.set($font-sizes, 'medium', 18px);
$more-sizes: ('x-large': 32px, 'xx-large': 48px);
$all-sizes: map-merge($font-sizes, $more-sizes);


// @debug $font-sizes;

@each $name, $size in $font-sizes {
    .text2-#{$name} {
        font-size: $size;
    }
}

@each $name, $size in $modified-sizes {
    .text-#{$name} {
        font-size: $size;
    }
}
@function generate-spacings($unit) {
    @return (0 , $unit, 2 * $unit, 4 * $unit);
}

$spacings: generate-spacings(4px);

// @debug $spacings;

@each $size in $spacings {
    .m-#{$size} {
        margin: $size;
    }   

    .p-#{$size} {
        padding: $size;
    }
}
$my-color: green;
$colors: ( red, green, blue, purple, yellow );
$first-color: list.nth($colors, 1);
$last-color: list.nth($colors, -1);
@debug list.index($colors, purple);
@debug $first-color;
@debug last-color
 $last-color;
@each $color in $colors {
    #{'.text'+$color} {
        color: $color;
    }
}   

$prop: 'margin';
$theme: dark;
$background: if ($theme == dark, black, white);
@function double ($number) {
    @return $number * 2;
}
$primary-color: color.scale($my-color, $lightness: 20%);


@debug 'hello';
@include buttons.button();

@mixin button-style ($color) {
    background-color: $color;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: color.scale($color, $lightness: -10%);
    }
}

@mixin all-buttons() {
    $colors: (
        primary: blue,
        secondary: green,
        error: red, 
    );
    @each $name, $color in $colors {
        .button-#{$name} {
            @include button-style($color);
        }
    }   
}

.my-class {
    @include buttons.button();
}

@include all-buttons();

// .button-primary {
//     @include button-style(blue);
// }

// .button-secondary {
//     @include button-style(green);
// }

// .button-error{
//     @include button-style(red);
// }


$colors: (
    'primary': #6200ee,
    'secondary': #03dac6,
    'danger': red,
);


:root{
    // --main-color: #{$my-color};
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }
}

div.root {
    --primary-color: #{$primary-color};
    // background-color: $primary-color;
    background-color: color-mix(in srgb, var(--primary-color), white 20%);
}


h1 {
    color: $my-color;
    border-bottom: 1px solid lime;
}

.test {
    #{$prop}-top: 2px;
    #{$prop}-bottom: 2px;
    #{$prop}-left: 2px;
    #{$prop}-right: 2px;
}

@debug $my-color;
// $my-color: purple;

section.shopping-list  {
    h3 {
        color: buttons.$primary-color;
    }

    ul {
        border: 1px solid gray;
        > li {
            color: #c0158d;
@debug &;
            &:hover {
                background-color:yellow;
            }

        }

    }
}
