@use 'sass:map';
@use 'buttons';

$my-color: green;

@include buttons.button();

div.root {
}


h1 {
    color: $my-color;
    border-bottom: 1px solid lime;
}


section.shopping-list  {

    h3 {
        color: buttons.$primary-color;
    }

    ul {
        border: 1px solid gray;

        > li {
            color: red;

            &:hover {
                background-color: lightgray;
            }
        }
    }
} // end section.shopping-list



