/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --p-10: oklch(from var(--p-base) 0.92 0.07 h);
  --p-20: oklch(from var(--p-base) 0.9 0.1 h);
  --p-30: oklch(from var(--p-base) 0.8 0.2 h);
  --p-40: oklch(from var(--p-base) 0.72 0.25 h);
  --p-50: oklch(from var(--p-base) 0.67 0.31 h);
  --p-60: oklch(from var(--p-base) 0.5 0.27 h);
  --p-70: oklch(from var(--p-base) 0.35 0.25 h);
  --p-80: oklch(from var(--p-base) 0.25 0.2 h);
  --p-90: oklch(from var(--p-base) 0.13 0.2 h);

}

:root {
  --base-color: rgb(71, 158, 58);
  --p-base: oklch(from var(--base-color) 0.67 0.31 h);

}

.pal-1 {
  --p-base: oklch(from var(--base-color) 0.67 0.31 calc(h + 100));
}

.pal-2 {
  --p-base: oklch(from var(--base-color) 0.67 0.31 calc(h - 100));
}

