<app-card class=""/>

<h2>HSL</h2>
<div class="test hsl">
  <div>HSL(270, 100, 50)</div>
  <div>HSL(90, 100, 50)</div>
</div>
<div class="test oklch">
  <div>oklch(53%, 0.29, 294)</div>
  <div>oklch(53%, 0.29, 135)</div>
</div>

<div class="palettes">
  <div class="palette" >
    <h1 class="title">Original</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
  <div class="palette pal-1">
    <h1 class="title">Alternative 1</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
  <div class="palette pal-2">
    <h1 class="title">Alternative 2</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
  <div class="palette pal-3">
    <h1 class="title">Alternative 3</h1>
    <div class="item">10</div>
    <div class="item">20</div>
    <div class="item">30</div>
    <div class="item">40</div>
    <div class="item">50</div>
    <div class="item">60</div>
    <div class="item">70</div>
    <div class="item">80</div>
    <div class="item">90</div>
  </div>
</div>

