
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html, body { height: 100%; }
body { 
  padding: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  @include mat.theme((
    color: mat.$magenta-palette,
    typography: Roboto,
    density: 0,
  ));
}
