
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;



html, body { height: 100%; }
body { 
  margin: 0; 
  background: var(--mat-sys-background);

}

p {
  font: var(--mat-sys-body-large);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



:root {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Roboto,
      regular-weight: 100,
      medium-weight: 700,
    ),
    density: 0,
  ));
}

.primary, [color="primary"] {
  @include mat.theme((
    color: mat.$azure-palette
  ))
}

.tertiary, [color="tertiary"], [color="accent"] {
  @include mat.theme((
    color: mat.$rose-palette
  ))
}

.error, [color="error"], [color="warn"] {
  @include mat.theme((
    color: mat.$red-palette
  ))
}

.success, [color="success"] {
  @include mat.theme((
    color: mat.$green-palette
  ))
}


mat-icon[svgIcon] {
  --color-1: var(--mat-sys-primary);
}