:host {
  --shadow-offset: 2px;

  background: #abcce2;
  color: #4a4a4a;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-offset) var(--shadow-offset) var(--shadow-offset) rgba(0, 0, 0, 0.3);
  text-align: center;

  &:hover {
    --shadow-offset: 12px;

  }

  .card-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  button {
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
