/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-10: rgb(229, 239, 250);
    --p-20: rgb(186, 212, 242);
    --p-30: rgb(143, 186, 234); 
    --p-40: rgb(100, 159, 227);    
    --p-50: rgb(62, 135, 218);
    --p-60: rgb(36, 109, 194);
    --p-70: rgb(28, 85, 151);
    --p-80: rgb(23, 71, 125);
    --p-90: rgb(19, 58, 103);
}


.pal-1 {
    --p-10: hsl(122, 38%, 84%);
    --p-20: hsl(122, 37%, 74%);
    --p-30: hsl(123, 38%, 64%); 
    --p-40: hsl(123, 38%, 57%);    
    --p-50: hsl(122, 39%, 49%);
    --p-60: hsl(123, 41%, 45%);
    --p-70: hsl(123, 43%, 39%);
    --p-80: hsl(123, 46%, 34%);
    --p-90: hsl(124, 55%, 24%);
}

.pal-2 {
    --p-10: hsl(252, 38%, 84%);
    --p-20: hsl(252, 37%, 74%);
    --p-30: hsl(252, 38%, 64%); 
    --p-40: hsl(252, 38%, 57%);    
    --p-50: hsl(252, 39%, 49%);
    --p-60: hsl(252, 41%, 45%);
    --p-70: hsl(252, 43%, 39%);
    --p-80: hsl(252, 46%, 34%);
    --p-90: hsl(252, 55%, 24%);
}

.pal-3 {
    --p-10: hsl(4, 56%, 85%);
    --p-20: hsl(4, 56%, 75%);
    --p-30: hsl(4, 56%, 65%);
    --p-40: hsl(4, 56%, 55%);
    --p-50: hsl(4, 56%, 45%);
    --p-60: hsl(4, 56%, 35%);
    --p-70: hsl(4, 56%, 25%);
    --p-80: hsl(4, 56%, 15%);
    --p-90: hsl(4, 56%, 10%);
}