/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --base-color:rgb(62 135 218);
}

.palette {
  --p-10: color-mix(in srgb, var(--base-color), white 85%);
  --p-20: color-mix(in srgb, var(--base-color), white 62%);
  --p-30: color-mix(in srgb, var(--base-color), white 41%);
  --p-40: color-mix(in srgb, var(--base-color), white 20%);
  --p-50: var(--base-color );
  --p-60: color-mix(in srgb, var(--base-color), black 15%);
  --p-70: color-mix(in srgb, var(--base-color), black 30%);
  --p-80: color-mix(in srgb, var(--base-color), black 45%);
  --p-90: color-mix(in srgb, var(--base-color), black 55%);
}

.pal-1 {
  --base-color: rgb(76, 175, 80);
}

.pal-2 {
  --base-color: hsl(291, 64%, 42%);
}
