:host {
  background: hsl(212, 80%, 42%);
  padding: 1rem;
  width: 200px;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    color: white;
    padding: 4px;
    cursor: pointer;

    &:hover {
      background: linear-gradient(to right, rgb(21, 101, 192), #3d84b4);    }

    &.current {
      background: linear-gradient(to right, rgb(21, 101, 192), #abcce2);
    }
  }
}
