:host {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h1{
        color: var(--mat-sys-tertiary);
    }
    h2{
        color: var(--mat-sys-secondary);
    }

    .actions {
        display: flex;
        flex-direction: row;
        gap: 0.7rem;
        align-items: center;

        background-color: var(--mat-sys-primary-container);
        border: 1px solid var(--mat-sys-on-primary-container);

        padding: 0.5rem;
    }

}

