.fav-button {
  background: var(--foreground-translucent);
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--shadow-medium);

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px var(--shadow-dark);
  }

  svg {
    width: 20px;
    height: 20px;
    fill: transparent;
    color: var(--a-40);
    transition: all 0.2s;
  }

  &.is-favorite svg {
    fill: var(--a-40);
    color: var(--a-40);
  }
}
